// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-menu {
	button ion-label ion-icon {
		padding-right: 12px;
	}

	.sign-in {
		margin-left: 16px;
		margin-top: 16px;
	}

	.fa-button {
		line-height: 5.0rem;
		font-size: 2.2rem;
		height: 5.0rem;
		padding: 0;
		width: 5.0rem;
	}

	a {
		text-decoration: none;
	}

	ion-footer ion-grid ion-col {
		text-align: center;
		padding: 0 !important;
	}

	#newsletter-button {
		height: 4.4rem;
	}
}

#loadingSpinner {
	display: none;
  margin-left: auto;
  margin-right: auto;
}